/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/@syncfusion/ej2/material.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.padding-top-bottom-20 {
    padding-top: 15px;
    padding-bottom: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
